body {
    background-color: rgb(231, 233, 226);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
    margin-left: 40px;
}

h2 {
    color: blue;
}

p {
    color: rgba(0, 0, 0, 0.651);
}