body {
    background-color: rgb(219, 217, 97);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
    margin-left: 40px;
}

h2 {
    color: blueviolet;
}

p {
    color: rgb(71, 60, 15);
}